<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<!-- Enable iisnode module -->
<handlers>
<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
</handlers>
<!-- Ensure that node is served properly -->
<rewrite>
<rules>
<rule name="DynamicContent">
<match url="/*" />
<action type="Rewrite" url="index.js" />
</rule>
</rules>
</rewrite>
 
    <!-- Enable detailed error messages for debugging -->
<httpErrors existingResponse="PassThrough" />
 
    <!-- Set timeouts and limits -->
<security>
<requestFiltering>
<requestLimits maxAllowedContentLength="2147483648" />
</requestFiltering>
</security>
</system.webServer>
</configuration>