<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpCookies httpOnlyCookies="true" /> 
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff"/>
            </customHeaders>
        </httpProtocol>        
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>        
        <rewrite>
            <rules>
                <rule name="DynamicContent">
                    <match url="/*" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>        
        <httpErrors existingResponse="PassThrough" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>