{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "alignObjectProperties": true,
  "printWidth": 150,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
