{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "always",
  "alignObjectProperties": true,
  "printWidth": 80,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}

